.featured-popular-tabs {
    margin-top: 5em;

    .slick-dots {
        top: -44px;
    }
}

.featured-popular-switcher span {
    cursor: pointer;
    margin: 0 10px;
}

.featured-popular-tabs > div {
	&.inactive {
		display: none;
	}

	&.active {
		display: block;
	}
}

#items-popular,
#items-featured {
	.edd_download {
		margin: 0 15px;
	}

	#edd_download_pagination {
		display: none;
	}
}

#items-featured {
	.edd_downloads_list {
		margin-left: -15px;
		margin-right: -15px;
	}
}
