.widget_woothemes_features .features {
	margin-bottom: -3em;
}

.feature-title a {
	text-decoration: none;
}

.feature-content {
	line-height: 1.75;
	margin: 1.5em 1em 3em;
	clear: both;
}

.features {
	overflow: hidden;
}

.feature {
	text-align: center;
}

.feature a {
	display: inline-block;
}
