.marketify-widget--download-single-share {
    div.sharedaddy h3.sd-title {
        display: none;
    }

    div.sharedaddy .sd-content {
        margin-top: 1.5em;

        ul {
            margin-bottom: 0 !important;
        }
    }

}
