.marketify-widget--download-single-details {
    margin-top: 160px;
    padding: 0;

    @include bp(md) {
        margin-top: 100px;
    }

    .section-title {
        margin-top: -100px;
        margin-bottom: 55px;

        @include bp(md) {
            margin-top: -100px;
        }
    }

    .widget-detail .edd_price {
        @extend .widget-detail__title;
        font-weight: normal;
        letter-spacing: 0;
    }

    .widget-detail .button {
        margin: 1em auto;
        display: block;
        width: 80%;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:only-of-type {
            margin: 0 auto;
        }

    }

    .edd_download_purchase_form {
        margin-bottom: 0;
    }

    .edd_download_purchase_form:only-child .button {
        margin: 0 auto;
    }

    .widget-detail .edd_download_quantity_wrapper,
    .edd_download_purchase_form .edd_go_to_checkout {
        margin-top: 0;
    }

    // just in case, as it will show when in cart
    .widget-detail .edd_download_purchase_form .edd_price_options,
    .widget-detail .edd_download_purchase_form .edd-wl-button {
        display: none;
    }

    .edd_purchase_tax_rate {
        display: block;
    }
}

