.widget--site-footer {
    padding: 3em 2em;
    border-bottom: 1px solid $accent;

    &:last-child {
        border-bottom: 0;
    }

    @include bp(md) {
	    border-right: 1px solid $accent;
        border-bottom: 0;

        &:last-child {
            border-right: 0;
        }
    }
}

.widget-title--site-footer {
    margin-bottom: 1em;
}

.widget.widget--site-footer {
    li {
        margin-bottom: 0.5em;
    }

    li:before {
        display: none;
    }

    a:hover{
        text-decoration: underline;
    }

    p {
        line-height: 1.75;

        &:last-child,
        &:only-child {
            margin-bottom: 0;
        }
    }
}

.site-footer--dark {
    color: #fff;

    .widget-title--site-footer,
    p,
    a {
        color: #fff;
    }

    .widget--site-footer {
        border-right: 0;
    }
}
