
.post-password-form p {
	overflow: hidden;
}

.post-password-form label {
	width: 80%;
	float: left;
}

.post-password-form input[type="submit"] {
	margin-top: 25px;
	padding: 13px 20px 14px;
	width: 19%;
	float: right;
}
