
.single-download .entry-content .edd_download_purchase_form {
    .edd-wl-button {
        display: inline-block;
        margin: 0 10px;
        vertical-align: middle;
    }
}

.edd_download .edd_download_quantity_wrapper { 
    display: none;
}
