.minimal {
    #edd_checkout_cart th {
        background: #fff;
    }

    #edd_checkout_form_wrap span.edd-description {
        color: #fff;
    }

    #edd_checkout_cart input.edd-item-quantity {
        border: 1px solid #efefef;
    }
}
