.archive,
.page-template-shop {
    .marketify_widget_featured_popular {
        margin-top: 0;
        position: relative;
    }
}

.archive,
.page-template-shop {
    .content-area .section-title:first-of-type {
        margin-top: 0;
    }
}
