.site-title {
    @include montserrat(700, 26px);
    margin: 0;
    clear: none;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.site-title a {
	color: #fff;
	text-decoration: none;

    &:hover {
        color: #fff;
    }
}

.site-title--footer {
    display: block;
}
