.single-format-video iframe {
	display: block;
}

.single-format-video .header-outer iframe {
	margin: 0 auto;
}

.content-area iframe {
	width: 100%;
}

.content-area .download-video {
	margin: 0 0 3em;
}
