
.widget_edd_fpd {
	.download-single-widget-title {
		margin: -25px -25px 0;
		padding: 25px;
		border-bottom: 1px solid #ccc;
	}

	.edd-fpd {
		margin: 10px 0 -15px;
		width: 100%;
	}

		@include bp(sm) {
			.edd-fpd {
				margin: 0 0 -25px;
			}

			.edd-fpd tr:first-child th,
			.edd-fpd tr:first-child td {
				padding-top: 25px;
			}

			.edd-fpd tr:last-child th,
			.edd-fpd tr:last-child td {
				padding-bottom: 25px;
			}
		}

	.edd-fpd th,
	.edd-fpd td {
		display: block;
	}

	.edd-fpd th {
		padding-top: 8px;
	}

	.edd-fpd td {
		padding-bottom: 8px;
	}

		@include bp(sm) {
			.edd-fpd th,
			.edd-fpd td {
				padding: 7px 5px;
				vertical-align: middle;
				display: table-cell;
			}
		}

	.edd-fpd th {
		font: 700 14px/normal 'Montserrat', sans-serif;
		text-transform: uppercase;
		width: 100%;
	}

		@include bp(sm) {
			.edd-fpd th {
				border-right: 1px solid #ccc;
				padding-right: 5%;
				width: 45%;
				display: table-cell;
			}
		}

	.edd-fpd th {
		color: #515a63;
	}

	.edd-fpd td {
		font-size: 14px;
		color: #82878e;
	}

		@include bp(sm) {
			.edd-fpd td {
				padding-left: 5%;
			}
		}
}