.header-outer.has-video {
    position: relative;

    .wp-video {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        width: 100% !important;
        height: auto !important;
        position: absolute !important;
    }
}
