.fes-profile-form {
    .fes-submit .button.edd-submit {
        @extend .button--size-full;
    }

    .fes-avatar-image-upload .fes-avatar-image {
        max-width: 200px;
    }

    .fes-remove-avatar-image {
        display: block;
        cursor: pointer;
    }
}
