.fes-form {
    fieldset {
        margin: 0 0 2em;
    }

    label {
        margin-bottom: 5px;
    }

    .fes-help {
        font-size: 80%;
        display: block;
        margin: 0 0 5px;
    }
}
